/* || COLORS */

:root {
  --dark: #1f2937;
  --light: #e5e7eb;
  --white: #f9faf8;
  --accent: #3882f6;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

.primary-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.secondary-width-container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

p {
  font-size: 18px;
  line-height: 32px;
  margin: 16px 0;
}

a {
  color: var(--light);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--accent);
  padding: 16px 32px;
  border-radius: 8px;
  color: var(--white);
  font-size: 18px;
  line-height: 18px;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: var(--white);
  color: var(--accent);
}

/* || NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 0 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}

/* || HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 160px 16px;
}

header img {
  width: 50%;
}

/* || INFO */

.info {
  text-align: center;
  background-color: var(--white);
  color: var(--dark);
  padding: 80px 16px;
}

.info-flex-container {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

figure img {
  aspect-ratio: 1 / 1;
}

figcaption {
  color: var(--dark);
  margin: 0;
}

figcaption p {
  margin: 8px 0 0 0;
}

/* || TESTIMONIALS */

.testimonials {
  background-color: var(--light);
  padding: 80px 16px;
  color: var(--dark);
}

blockquote {
  font-size: 32px;
  line-height: 48px;
  font-style: italic;
}

.author {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0;
}

/* || CTA */

.cta {
  padding: 160px 16px;
  background-color: var(--accent);
  color: var(--white);
}

.cta-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cta p {
  margin: 8px 0 0 0;
}

.cta-message {
  flex: 2;
}

.cta button {
  border: 3px solid var(--white);
  flex: 1;
}

/* || FOOTER */

footer {
  text-align: center;
  padding: 32px 0;
}

footer p {
  margin: 0;
}

/* || RESPONSIVE */

@media screen and (max-width: 1200px) {
  header img {
    aspect-ratio: 4 / 3;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    padding-bottom: 24px;
  }

  header {
    display: block;
    position: relative;
    text-align: center;
  }

  header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    z-index: -5;
    opacity: 0.3;
  }
}

@media screen and (max-width: 800px) {
  .info-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .cta-flex-container {
    display: block;
    text-align: center;
  }

  .cta p {
    margin: 16px 0;
  }
}
